<h1>Second module second component</h1>

<div style="margin-top: 10px;">
  <button (click)="onHomeClick()">
    Home
  </button>
</div>
<div style="margin-top: 10px;">
  <button (click)="onHomeFirstComponentClick()">
    Home first component
  </button>
</div>
<div style="margin-top: 10px;">
  <button (click)="onHomeSecondComponentClick()">
    home second component
  </button>
</div>
<div style="margin-top: 10px;">
  <button (click)="onFirstModuleFirstComponentClick()">
    first module first component
  </button>
</div>
<div style="margin-top: 10px;">
  <button (click)="onFirstModuleSecondComponentClick()">
    first module second component
  </button>
</div>
<div style="margin-top: 10px;">
  <button (click)="onSecondModuleFirstComponentClick()">
    second module first component
  </button>
</div>
<div style="margin-top: 10px;">
  <button (click)="onSecondModuleSecondComponentClick()">
    second module second component
  </button>
</div>
